[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {version = "==5.4.0", extras=["redis"]}
httpx = "~=0.27.0"
psycopg2-binary = "*"
redis = {version ="~=5.0", extras=["hiredis"]}
requests = "~=2.0.0"
gunicorn = "==22.0.0"
alembic = "*"
sqlalchemy = "*"
fastapi = {extras = ["standard"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
pydantic = "*"
pydantic-settings = "*"
pre-commit = "*"

[dev-packages]
black = "~=24.3.0"
isort = "~=5.13.2"
ruff = "~=0.3.3"

[requires]
python_version = "3.11"
